# Conexión a la base de datos PostgreSQL
DATABASE_URL="postgresql://USUARIO:PASSWORD@localhost:5432/poncho_digital?schema=public"

# Conexión directa (requerida para migraciones en Supabase)
DIRECT_URL=""

# Puerto de la API
PORT=5500